<% include partials/header %>
<% include partials/navbar %>

<header class="masthead text-white text-center">
    <div class="container">
      <img class="img-fluid mb-5 d-block mx-auto" src="/images/profile.png" alt="">
      <h1 class="text-uppercase mb-0">Start Bootstrap</h1>
      <hr class="star-light">
      <h2 class="font-weight-light mb-0">Web Developer - Graphic Artist - User Experience Designer</h2>
    </div>
</header>
<!-- Page Content -->
<div class="container">
  <!-- Header -->
  
</div>
  <!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Trung Kien 2018</p>
  </div>
<!-- /.container -->
</footer>

<% include partials/footer %>