<% include partials/header %>
<% include partials/navbar %>

<div class="container-fluid" id="mainpage">
  <div class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
      <div id="form-wrapper">
        <h2 class="text-center" id="try">Create your own ballot</h2>
        <p style="color: red;">It's cost <span id="factory-cost" style="color:blue;"></span> ether for each new ballot.</p>
        <p style="color: red;">Candidate's images will be upload to IPFS.</p>
        <div>
          <form id="img-upload-form">
            <div class="form-group">
              <label>List of candidate's images Hash</label>
              <textarea readonly class="form-control" type="text" rows="5" id="ip-imgs"></textarea>
            </div>
            <div class="form-group">
              <input id="ip-img" class="form-control" name="avatar" type="file">
            </div>
            <button class="btn btn-primary" id="btn-upload" style="float: left;">Upload to IPFS</button>
          </form>
          <button class="btn btn-primary" id="clear-hash" style="float: right;">Clear Hash</button>
        </div>

        <form style="clear: left;" id="new-ballot-form">
          <div class="form-group">
            <label>Description</label>
            <input class="form-control" type="text" placeholder="Describe your ballot" id="ip-desc">
          </div>
          <div class="form-group">
            <label>List of candidate's ids</label>
            <input class="form-control" type="text" placeholder="Ex: 12, 23, 34" id="ip-ids">
          </div>
          <div class="form-group">
            <label>List of candidate's names (only ascii characters)</label>
            <input class="form-control" type="text" placeholder="Ex: Trung Kien, Thong, Thinh" id="ip-names">
          </div>    
          <div class="form-group">
            <label>Initial Tokens</label>
            <input class="form-control" type="text" placeholder="Enter initial tokens" id="ip-initTokens">
          </div>
          <div>
            <label>Token Price (wei)</label>
            <input class="form-control" type="text" placeholder="Enter price per token" id="ip-tokenPrice">
          </div>
          <div class="form-group">
            <label>Time to vote (second)</label>
            <input class="form-control" type="text" placeholder="Enter time" id="ip-time">
          </div>
          <button type="submit" class="btn btn-primary btn-lg" id="btn-new-ballot" >Submit</button>
        </form>
      </div>
    </div>

    <!-- -------------------------------------------------------------------- -->

    <div class="col-lg-4 col-sm-6 text-white text-center mb-4">
      <h1 class="text-uppercase mb-0" id="main-title">Voting Dapp</h1>
      <img class="img-fluid mb-5 d-block mx-auto" src="/images/profile.png" alt="">      
      <h4 class="font-weight-light mb-0">We create a transparent environment for voting!</h4>
      <div id="factory-owner">
        <br>
        <p>Your factory hold <span id="factory-balance" style="color:blue;"></span> ether</p>
        <button id="btn-factory-withdraw" class="btn btn-primary">Withdraw Factory Money</button>
      </div>
      
    </div>
   
    <!-- -------------------------------------------------------------------- -->

    <div class="col-lg-4 col-sm-6 mb-4">
      <h2 style="text-align: center;">List of Created Ballot</h2>
      <div id="start-ballots"></div>
    </div> 
  </div>

  <% include partials/foot %>
</div>
<script src="/javascripts/index.client.js"></script>


<% include partials/footer %>