<% include partials/header %>

  <h1>Welcome to <%= title %></h1>
  <div id="kien"></div>
  <div class="column middle">
    <p class="tableCap" >List of Candidates</p>
    <table class="table">
      <thead>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Received Votes</th>
          <th>You voted</th>
        </tr>
      </thead>
      <tbody id="candidatesTb"></tbody>
      
    </table>
  
    <br/>
    <br/>
    <hr/>
    <br/>
    
    <table>
      <tr>
        <th colspan="2" class="tableCap">Voting Tokens Statistic</th>
      </tr>
      <tr>
        <td>Total Tokens</td>
        <td id="totalTokens"></td>
      </tr>
      <tr>
        <td>Available Tokens</td>
        <td id="balanceTokens"></td>
      </tr>
      <tr>
        <td>Price Per Token</td>
        <td id="tokenPrice"></td>
      </tr>
    </table>
    
    <br/>
    <br/>
    <hr/>

  </div>
  <div class="column side">
    <h2 id="userTokens"></h2>
    <form id="buyForm">
      <label>Buy more</label>
      <input type="text" id="buyTokenInput"/>
      <button>Buy</button>
    </form>
    <br>
    <br>
    <h2>Vote for candidate you like</h2>
    <form id="voteForm">
      <div class="form-group">
          <label>Candidate Id</label><br>
          <input type="text" class="form-control" id="idInput"/>
      </div>
      <div class="form-group">
          <label>Number of tokens</label><br>
          <input type="text" class="form-control" id="voteTokenInput"/>
      </div>
      
      <button class="btn btn-primary">Vote</button>
    </form>
  </div>

  <br>
  <br>
  <br>

<% include partials/footer %>
